<div ng-controller="EntriesCtrl">
	<h1>Listing entries</h1>

	<table>
		<thead>
		  <tr>
		    <th>Data</th>
		  </tr>
		</thead>

		<tbody>
		  <tr ng-repeat="entry in entries">
		    <td>{{ entry }}</td>
		  </tr>
		</tbody>
	</table>

	<br />

	<%= link_to 'New Entry', new_entry_path %>
</div>
