<p id="notice"><%= notice %></p>

<div ng-controller="EntryCtrl">
	<ul ng-repeat="note in entry.notes">
		<li>
			{{ note.id }}
		</li>
		<li>
			{{ note.tldr }}
		</li>
		<li>
			{{ note.concern }}
		</li>
		<li>
			{{ note.author }}
		</li>
		<li>
			{{ note }}
		</li>
	</ul>
</div>
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
