<div ng-controller="OrganizationCtrl">
	<h1>Listing organizations</h1>

	<table>
		<thead>
		  <tr>
		    <th>Organization_Data</th>
		    <th>Organization_Data_is_municipality</th>
		  </tr>
		</thead>

		<tbody>
		  <tr ng-repeat="org in organizations">
		    <td>{{ org.data }}</td>
		    <td>{{ org.data.is_municipality }}</td>
		  </tr>
		</tbody>
	</table>

	<br />

	<%= link_to 'New Organization', new_organization_path %>
</div>
